body {
    width: 100%;
    height: 100%;
    font-family: arial,sans-serif;
}

.topbar {
    position: relative;
    width: 100%;
    font-size: 13px;
    line-height: 30px;
    padding-left: 15px;
    top: 16px;
}

.bargroups {
    display: inline-block;
}

.l {
    text-align: left;
    float: left;
}

.r {
    text-align: right;
    float: right;
    padding-right: 10px;
}